---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Prueba de HTMX en Astro</h1>

    <!-- Botón que hace una solicitud HTMX -->
    <button hx-get="/clicked" hx-swap="outerHTML">
        Haz clic aquí
    </button>

    <!-- Respuesta que se mostrará cuando se haga clic -->
    <div id="response"></div>
</Layout>
